<div class="about-me-back">
    <div class="container" #work>
        <div class="about-me">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="work">
                        <h4>Front-End Developer</h4>
                        <div class="icon-circle"><i class="fa fa-code" aria-hidden="true"></i></div>
                        <div class="info">
                            <p>Over the years I have slowly gained the skills of a Front-End Developer.</p>
                            <br>
                            
                            <p><strong>Skills:</strong> HTML, CSS, JavaScript, Angular</p>
                            <p><strong>Tools:</strong> Git, Bootstrap</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="about-kody">
                        <h4>About Kody</h4>
                        <div class="icon-circle"><i class="fa fa-info" aria-hidden="true"></i></div>
                        <div class="info">
                            <p>I am an avid gamer, hockey player, and lover of all things technology</p>
                            <br>
                            <p>
                                I have been using computers since before I can remember and all I've ever wanted to do was work on them. 
                                If you have any questions feel free to reach out!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                        <div class="about-kody">
                            <h4>Experience</h4>
                            <div class="icon-circle"><i class="fa fa-file" aria-hidden="true"></i></div>
                            <div class="info">
                                <p>Junior Front End Developer
                                    <br>PistolStar, Inc.
                                    <br>Sep 2018 – Present
                                    <br>
                                    <br>
                                    <strong>Education:</strong> SkillCrush Bootcamp
                                    <br>Jun 2018 – Aug 2018
                                    <br>
                                    SkillCrush is an intensive 3 month course.  
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

