
  <nav class="navbar sticky-top" id="about-me">
    <div class="container">
    <div class="col-md-4 col-sm-6">
      <a href="#" alt="Kody-Dev">
          <div class="header-logo">
          </div>

        <div class="header-text">
            <h1>Kody Pinette</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-0 sep">

    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="head-nav">
        <a href="#about-me" class="btn btn-kody first-item">
          About Kody
        </a>
        <a href="#work" class="btn btn-kody">
          Work
        </a>
        <a href="#contact" class="btn btn-kody last-item">
          Contact
        </a>
      </div>
    </div>
  </div>
  </nav>

  