<div class="container" id="work">
    <div class="row work">
        <div class="col-md-12 col-lg-4">
            <div class="outside-box" (mouseleave)="notHovered($event)">
                <div class="project">
                     <h1>Project</h1>
                     <p>dsadsadsd asdsadsa dsa dsadsadsadsad dsadsa sad asd sadsadsadsa dsa dsad sadsadas</p>
                     
                </div>
                <div class="image" (mouseenter)="hovered($event)">
            
                </div>
                <a href="#" class="btn-project hiddenbtn"><button class="btn btn-kody">View Project</button></a>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="outside-box" (mouseleave)="notHovered($event)">
                <div class="project">
                        <h1>Project</h1>
                        <p>dsadsadsd asdsadsa dsa dsadsadsadsad dsadsa sad asd sadsadsadsa dsa dsad sadsadas</p>
                </div>
                <div class="image" (mouseenter)="hovered($event)">
                
                </div>
                <a href="#" class="btn-project hiddenbtn"><button class="btn btn-kody">View Project</button></a>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="outside-box" (mouseleave)="notHovered($event)">
                <div class="project">
                        <h1>Project</h1>
                        <p>dsadsadsd asdsadsa dsa dsadsadsadsad dsadsa sad asd sadsadsadsa dsa dsad sadsadas</p>
                </div>
                <div class="image" (mouseenter)="hovered($event)">
                
                </div>
                <a href="#" class="btn-project hiddenbtn"><button class="btn btn-kody">View Project</button></a>
            </div>
        </div>
    </div>
</div>